#photomaton {
	display:block;
	position: absolute;
	top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-image:url(../img/back-black2.jpg);
	background-size: 100% auto;
	cursor:none;
	overflow-y: hidden; 
	overflow: hidden;
}

#camera_view {
	box-shadow: 12px 12px 1px 1px rgba(0,0,0,0.6);
}

#camera_tab {
	border-collapse: collapse;
}

#camera_tab td{
	padding:0px;
	border: solid white 5px
}

.camera_4 {
	width:300px; 
	height:450px;
}

.video_4 {
	position: relative;
	height: 100%;
	left:-150px;
}

.camera_1 {
	width:100%; 
	height:682px;
}

.video_1 {
	width: 100%;
	top:-27px;
}

.hide {
	display:none;
}

.camera_container{
	width:100%;
	height: 100%;
	overflow:hidden;
}

.camera_container_result{
	width:100%; 
	height:100%;
}


.camera_info {
	position: absolute;
	right:50%;
	top:50%;
	margin-top:-480px; /* Modifier si on modifie la taille de la camera. height / 2 */
	margin-right:-300px;
}

.camera_info_2 {
	position: absolute;
	right:50%;
	top:50%;
	margin-top:-380px; /* Modifier si on modifie la taille de la camera. height / 2 */
	margin-right:-500px;
}

#piecounter {
	position: fixed;
	top:40px;
	left:40px;
}

#photo_countdown {
	display:none;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -150px;

	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 250px;
	color: #DCE0E6;
	text-shadow: 5px 5px 20px #1F1F20;

}

#camera_flash{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#FFF;
}

.coverflow_show {
	
}

.coverflow_hide {
	margin-left: 3000px;
}

#photo_galerie{ 
	position: relative;
	width: 1000px; 
	height: 900px;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
}

.photo_thumb {
	display:block;

	height: 140px;
	-webkit-box-shadow: 8px 8px 1px 1px rgba(0,0,0,0.5);
	
	margin-bottom: 20px;
}
 
.polaroid #camera_view {
  border: 10px solid #DCE0E6;
  border-bottom: 45px solid #DCE0E6;
  box-shadow: 12px 12px 12px 3px rgba(0,0,0,0.5);
}
 
.polaroid #effect_info {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  font: 400 30px/1 'Kaushan Script', cursive;
  color: #1F1F20;
}

#delall_txt,
#copy_txt {
	width: 100%;
	text-align: center;
	top: 100px;
	font: 400 50px/1 'Kaushan Script', cursive;
	color: #DCE0E6;
	position: absolute;
}

#copy_progress_bar {
	top: 200px;
	width: 80%;
	left: 10%;
}

#copy_progress_value_txt {
	width: 100%;
	text-align: center;
	top: 320px;
	font: 400 50px/1 'Kaushan Script', cursive;
	color: black;
	position: absolute;
}

.common_text{
	font: 400 50px/1 'Kaushan Script', cursive;
	color: #DCE0E6;
}

.menu_item  span{
	font: 400 50px/1 'Kaushan Script', cursive;
	color: #DCE0E6;
}

.menu_item_selected  span{
	font: 400 50px/1 'Kaushan Script', cursive;
	color: red;
}